*{margin: 0; padding: 0;}
.noidung2 .anh2 .nen {
	background-color: white;
	height: 480px;
}
.noidung1 .anh2 .nen {
	background-color: white;
	height: 480px;
}
.noidung2 {
	padding-top: 70px;
}
.noidung2 .col-sm-3 {
	padding-left: 5px;
	padding-right: 5px;
}
.noidung2 .anh2 img {
	border-bottom: 3px solid #F26C54;
}

.noidung1 .col-sm-3 {
	padding-left: 5px;
	padding-right: 5px;
}
.anh2 p {
    margin-left: 18px;
    padding-top: 10px;
    font-size: 14px;
}

.anh2 h5 {
    font-size: 12px;
    font-weight: bold;
    margin-left: 18px;
    padding-top: 5px;
}

.noidung1 .anh2 img {
	width: 100%;
	border-bottom: 3px solid #F26C54;
}

.anh2 a {
    color: #F26C4F;
    font-weight: bold;
    font-size: 13px;
    padding-left: 20px;
}
	
.anh1 a {
    color: #F26C73;
    font-size: 13px;
}

.anh1 p {
    font-size: 12px;
    font-family: 'Montserrat', sans-serif;
    line-height: 21px;
    color: #8f8f8f;
}

.anh1 h5 {
    padding-bottom: 13px;
    color: #353c3e;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
} 
.topheader {
	background-color: #353c3e;
	height: 80px;
}
.topheader p {
	color: #959595;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
	padding-top: 33px;
}
.bottomheader .trongsuot {
	background-color: transparent;
}
.sr {
	background-color: transparent;
	height:  20px;
}
.bottomheader {
	
	background-color: #40494c;
	height: 62px;
	border-bottom: 3px solid #040505;
}
.bottomheader ul.navbar-nav li.nav-item a.nav-link:after {
	content: "/";
}
.bottomheader ul.navbar-nav li.nav-item a.nav-link {
	text-transform: uppercase;
	color: #717b7e;
	font-size: 13px;
	font-family: 'Montserrat', sans-serif;
}
.banner {
	background-color: #f6f6f6;
}
.conbanner {
	border: 15px solid white;
	margin-top: 26px;
	margin-bottom: 42px;
}
.conbanner .carousel-example-generic {
	padding-top: 20px;
}
.banner .phude h5 {
	color: #777777;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
	line-height: 28px;
}
.banner .phude p {
	font-family: 'Montserrat', sans-serif;
	font-size: 12px;line-height: 25px;
	color: #cccccc;
	padding-bottom: 65px;
}