*{margin: 0; padding: 0;}

.nuts b:hover {color: black;}

.nuts b {
    font-size: 50px;
    text-align: center;
    color: gray;
    cursor: pointer;
    padding: 20px;
}

.nuts {
    text-align: center;
    position: absolute;
    top: 90%;
    right: 42%;
}

#slidewrapper {
    position: relative; 
    overflow: hidden;
    background-color: transparent;
    perspective: 700px;
}

.slides ul li {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    opacity: 0;
}
.slides ul li.dangxem{
    opacity: 1;
}


html,body, #slidewrapper, .slides, .slides ul, .slides ul li {
    width: 100%;
    height: 100%;
    
}

.bienMatKhiAnNext { animation: ani1 2s forwards }

@-webkit-keyframes ani1 {
    /*from {transform: scale(1);opacity: 1}
    to {transform: scale(2);opacity: 0}*/

    /*from {transform: translateX(0); opacity: 1}
    to {transform: translateX(100%); opacity: 0}*/

    /*from {transform: scale(1); opacity: 1}
    to {transform: scale(0.8); opacity: 1}*/

    from{transform: translateX(0) scale(1); opacity: 1 }
    to {transform: translateX(100%) scale(0.9); opacity: 0}

    /*from{z-index: 8; height: 100%;}
    to { z-index: 8; height: 0; }*/
   /* from{transform: translateY(0); z-index: 8}
    to{transform: translateY(100%); z-index: 8}*/

}
.diVaoKhiAnNext { animation: ani2 2s forwards }
@-webkit-keyframes ani2 {
    /*from {transform: scale(0.7); opacity: 0}
    to {transform: scale(1); opacity: 1}*/

    /*from{transform: translateX(-100%); opacity:0 }
    to {transform: translateX(0); opacity: 1}*/

    /*from{transform: translateX(100%); opacity:0 }
    to {transform: translateX(0); opacity: 1}*/

    from{transform: translateX(-100%) rotateY(65deg); opacity: 0 }
    to {transform: translateX(0) rotateY(0deg); opacity: 1}

    /*from { opacity: 0.5 }
    to {opacity: 1  }*/

    /*from{transform: translateY(-50%);opacity: 1  }
    to {transform: translateY(0%); opacity: 1}*/
}

/*.bienMatKhiAnPrev {animation:  ani2nguoc 2s forwards}
@-webkit-keyframes ani2nguoc {*/
    /*from {transform: scale(1); opacity: 1}
    to {transform: scale(0.7); opacity: 0}*/

    /*from{transform: translateX(0); opacity:1 }
    to {transform: translateX(-100%); opacity: 0}*/

    /*from{transform: translateX(0%); opacity:1 }
    to {transform: translateX(100%); opacity: 0}*/

    to{transform: translateX(-100%) rotateY(-65deg); opacity: 0 }
    from {transform: translateX(0) rotateY(0deg); opacity: 1}
    

     /*from { opacity: 0.5 }
    to {opacity: 1  }*/

    /*to{transform: translateY(-50%);opacity: 1  }
    from {transform: translateY(0%); opacity: 1}*/
    
}
.diVaoKhiAnPrev{ animation: ani1nguoc 2s forwards }
@-webkit-keyframes ani1nguoc {
    /*from {transform: scale(2); opacity: 0}
    to {transform: scale(1); opacity: 1}*/

    /*from{transform: translateX(100%); opacity:0 }
    to {transform: translateX(0); opacity: 1}*/

    /*from {transform: scale(1); opacity: 1}
    to {transform: scale(0.8); opacity: 1}*/

     to{transform: translateX(0) scale(1); opacity: 1 }
    from {transform: translateX(100%) scale(0.9); opacity: 0}

    /*to{z-index: 8; height: 100%; opacity: 1}
    from { z-index: 8; height: 0; opacity: 1 }*/
    /* to{transform: translateY(0); z-index: 8; opacity: 1}
    from{transform: translateY(100%); z-index: 8; opacity: 1}*/
}